*
{
  font-family: Arial;
}

body
{
  color: #444444;
  background: #F1F5FA;
}

h1
{
  color: #444444;
  margin: 0; padding: 0.2em;
}

.step
{
  font-size: 160%;
  color: #444444;
  margin:0;
}

.step .number
{
  font-weight:bold;
  color: #999999;
}

form
{ 
  text-align:center;
  width: 900px;
  margin: auto;
  background: #FFF9D8;
  border-top: 1px solid #FFE8CD;
  border-bottom: 1px solid #FFE8CD;
  border: 1px solid #aaaaaa;
  padding: 0.5em;
  margin-bottom:20px;
}

.image-url
{
  font-size:150%;
  width: 90%;
}

button
{
  font-size:150%;
  background-color: #EEEEEE;
  border: 1px solid #aaaaaa;
  margin: 1px;
  color: #444444;
}

button:hover
{
  cursor:hand;
  background-color: #F4F4F4;
  color: #505050;
}

button:active
{
  color: #FF2222;
}

.notes
{
  margin-top: 5px;  
  background: #FFF9D8;
  color: #888888;
  text-align:center;
  font-size: 90%;
}

.notes a
{
  color: #888888;
}

#canvases
{
  margin:auto;
  display: none;
  background-color: #d1d5dA;
  margin-bottom: 20px;
  border: 1px solid #aaaaaa;
  padding: 0.5em;
}

td
{
  vertical-align: top;
}

#image
{
  border: 1px solid #aaaaaa;
}

.plotHeader
{
  font-size: 100%;
  margin-top: 5px;
  margin-bottom: 0;
}

#colorPlot
{
  border: 1px solid #aaaaaa;
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 5px;
}

.plotExplanation
{
  margin-top: 5px;
  font-size: 80%;
  width: 200px;

}

#preview-background
{
  border: 1px solid #aaaaaa;
  background-image: url('../images/blank_board.png');
  width: 200px;
  height: 200px;
  margin-bottom: 5px;
}
#preview
{
  position: absolute;
  margin-top: -205px;
}

#preview:hover
{
  cursor: hand;
}

a
{
  color: #444444;
}

button.download
{
  font-size: 120%;  
}
/*.download
{
  font-size:120%;
  color: #444444;
  border: 1px solid #aaaaaa;
  background-color: #EEEEEE;
  margin: 1px;
}
.download:hover
{
  cursor: hand;
  border: 2px solid red;
  margin:0; 
}*/
#match
{
  color: red;
  font-size:70%;
  font-weight:normal;
}

.version
{
  font-size:70%;
  font-weight: bold;
}